{% extends 'layout.html' %}

{% block 'content' %}
<aside id="qbootstrap-hero">
		<div class="flexslider">
			<ul class="slides">
		   	<li style="background-image: url(/static/images/img_bg_5.jpg);">
		   		<div class="overlay"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>prendre un <strong>Rendez-vous</strong></h1>
									<!-- <h2>Free html5 templates Made by <a href="https://qbootstrap.com/" target="_blank">QBootstrap.com</a></h2> -->
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>

	<div id="qbootstrap-intro">
		<div class="row">
			<div class="intro animate-box">
				<div class="intro-grid color-1">
					<span class="icon"><i class="icon-calendar3"></i></span>
					<h3>Flexible Schedule</h3>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					<a href="#" class="btn btn-primary">Read More</a>
				</div>
				<div class="intro-grid color-2">
					<span class="icon"><i class="icon-wallet2"></i></span>
					<h3>Best Price Guarantee</h3>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					<a href="#" class="btn btn-primary">Read More</a>
				</div>
				<div class="intro-grid color-3">
					<span class="icon"><i class="icon-clock3"></i></span>
					<h3>Opening Hours</h3>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					<a href="#" class="btn btn-primary">Book an Appointment</a>
				</div>
			</div>
		</div>
	</div>

	<div id="qbootstrap-contact">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center qbootstrap-heading">
					<h2>prenez un rendez-vous </h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<form action="#" class="appointment-wrap animate-box">
						<div class="row form-group">
							<div class="col-md-6">
								<label for="fname">Prenom</label>
								<input type="text" id="fname" class="form-control" placeholder="entrez votre prenom">
							</div>
							<div class="col-md-6">
								<label for="lname">Nom</label>
								<input type="text" id="lname" class="form-control" placeholder="entrez votre nom">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="email">Email</label>
								<input type="text" id="email" class="form-control" placeholder="votre email adresse">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="subject">Telephone</label>
								<input type="text" id="subject" class="form-control" placeholder="votre numero de telephone">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="subject">Choisissez un hopital</label>
								<select class="selectpicker form-control">
									<option>Choisissez un hopital</option>
								   <option>Main Surgery</option>
								   <option>Plastic Surgery</option>
								   <option>Dental</option>
								   <option>Other</option>
								</select>

							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="message">Message</label>
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="votre message"></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="qbootstrap-register" style="background-image: url(/static/images/img_bg_5.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 animate-box">
					<div class="date-counter text-center">
						<h2>We offer <strong class="color">Free Consultation</strong></h2>
						<h3>By Dr. <strong>Mary Smith</strong></h3>
						<p class="countdown">
							<span id="days"></span>
							<span id="hours"></span>
							<span id="minutes"></span>
							<span id="seconds"></span>
						</p>
						<p><strong>Limited offer, Hurry Up!</strong></p>
						<p><a href="#" class="btn btn-primary btn-lg">Book an Appointment <i class="icon-calendar3"></i></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}