{% extends 'layout.html' %}

{% block 'content' %}
	
	

	<div id="qbootstrap-contact">
		<div class="container">
			
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<form action="#" class="appointment-wrap animate-box">
						<div class="row form-group">
							<div class="col-md-6">
								<label for="fname">Utilisateur</label>
								<input type="text" placeholder=" " name="uname"required >
								
								
							</div>
							<div class="col-md-6">
								<label for="psw">password</label>
								<input type="password" placeholder=" " name="psw" required>
								
							</div> </br>
							
						</div>

						
						<div class="form-group">
						<input type="submit" value="connecter" class="btn btn-primary">
						<span class="psw">Forgot <a href="#">password?</a></span>
							
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	

	
	{% endblock %}